body {
    margin= 0;
background-color:darkslategray;
font-family: verdana;
}
.title {
font-size: 40p;
    color: coral;
}
p {
    
    color: azure;
}
li {
color: azure;
}
line {
    color:darkseagreen;
    font-stretch: expanded;
}
.card {
    width: 600px;
    margin: auto;
}